#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.item {
  margin-bottom: 2rem;
}
.item input {
  padding: .5em 1.5em;
  border-radius: 2rem;
  border: transparent;
}